/* Default */
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    transition: background-color 0.3s,color 0.1s;
}

/* Load screen */
.load-screen{
    position: fixed;
    z-index: 200;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}
.load-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 54px;
    text-shadow: 0 0 15px;
    font-family: sans-serif;
    letter-spacing: 10px;
    overflow: hidden;
    color: #ddd;
    & > p{
        & > span{
            color: #f00;
        }
        padding: 0 15px;
    }
    &::after{
        content: '';
        height: 5px;
        width: 100%;
        background: #ddd;
        box-shadow: 0 0 5px #ddd;
    }
}

/* Load screen :: animations */
.text-loading::after{
    animation: loading 0.5s 1 linear forwards;
}
@keyframes loading {
    from{
        transform: translate(-150%);
    }
    to{
        transform: translate(150%);
    }
}
.fadeout{
    animation: loadingFadeout 0.2s ease-in forwards;
}
@keyframes loadingFadeout {
    to{
        opacity: 0;
    }
}
.done{
    display:none;
}


/* Fonts */
@font-face {
    font-family: 'Raleway';
    src: url('assets/fonts/Raleway_font.woff2') format('woff2'),
    url('assets/fonts/Raleway_font.woff') format('woff'),
    url('assets/fonts/Raleway_font.ttf') format('ttf');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Audi';
    src: url('assets/fonts/Audi_font.woff2') format('woff2'),
    url('assets/fonts/Audi_font.woff') format('woff'),
    url('assets/fonts/Audi_font.ttf') format('ttf');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}


/* Themes */
.both-modes{
    --general-text: #ddd;
    --general-back: #000;
}
.dark-mode{
    --primary-back: #000;
    /* --secondary-back: #0c0900; */
    --secondary-back: #000;
    --primary-text: #ddd;
    --navbar: #0a0a0a;
}
.bright-mode{
    --primary-back: #eee;
    --secondary-back: #f0ead2;
    --primary-text: #000;
    --navbar: #fff;
}


/* Body */
body{
    width:100%;
    display: flex;
    flex-direction: column;
    background: var(--primary-back);
    color: var(--primary-text);
    background-attachment: fixed;
    --nav-he: 75px;
    scrollbar-gutter: stable;
}
:root{
    scroll-behavior: smooth;
}
.index{
    cursor: pointer;
}
body::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}
body::-webkit-scrollbar-thumb{
    background: #222;
    border-radius: 100px;
}
body::-webkit-scrollbar-corner{
    background: var(--navbar);
}

/* Navbar */
.header{
    position: fixed;
    top: 0;
    z-index: 20;
    width: 100%;
}
.navbar{
    height: var(--nav-he);
    display: flex;
    justify-content: space-between;
    background: var(--navbar);
    transition: backdrop-filter 0.3s,background 0.3s;
}

/* Navbar :: on top */
.navbar-top{
    background: transparent;
    color: var(--general-text);
    backdrop-filter: blur(5px);
    & .navbar-logo-text{
        color: var(--general-text);
    }
}
/* Navbar :: brand */
.navbar-brand{
    display: flex;
    user-select: none;
}
.navbar-logo-cont{
    height: 100%;
    aspect-ratio: 3/2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-logo-img{
    height: 80%;
    width: calc(var(--nav-he));
    object-fit: contain;
    mix-blend-mode: difference;
}
.navbar-brand-text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: audi, sans-serif;
    font-weight: 600;
    font-size: 32px;
    letter-spacing: 3px;
    & > span{
        color: #f00;
    }
}

/* Navbar :: items */
.navbar-links-items{
    list-style-type: none;
    display: flex;
    height: 100%;
    font-family: audi,sans-serif;
    font-weight: 600;
    font-size: 18px;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
.navbar-links-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: text-shadow 0.3s ;
    overflow: hidden;
    &::after{
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        transform: translate(-101%);
        background: var(--primary-text);
        transition: transform 0.3s, width 0.3s;
    }
}
.navbar-links-item:hover{
    text-shadow: 0 0 5px;
    &::after{
        transform: none;
    }
}

/* First background */
.header-back{
    position: absolute;
    z-index: -1;
    height: 100vh;
    width: 100%;
    background-color: var(--general-back);
    background-position: center;
    background-size: cover;
}

/* First glance content */
.first-glance{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    user-select: none;
}
.first-glance > section{
    width: 40%;
    height: 100%;
}

/* First glance :: text */
.first-title{
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}
.title{
    border-radius: 15px;
    font-family: audi,sans-serif;
    font-size: 54px;
    color: var(--general-text);
    text-shadow: 0 0 5px #000;
    & > span{
        color: #7af;
    }
}
.title-text{
    width: 70%;
    color: var(--general-text);
    font-size: 18px;
    font-family: audi,sans-serif;
    & > span{
        font-weight: 600;
        color: #69f;
        text-shadow: 0 0 1px;
    }
}

/* First glance :: down arrow */
.down-arrow{
    display: flex;
    justify-content: center;
    align-items: center;
}
.down-img{
    filter: drop-shadow(0 0 5px #ddd);
    width: 180px;
    cursor: pointer;
    animation: upDown 1.5s infinite alternate-reverse ease-in-out;
}
@keyframes upDown {
    from{
        transform: translateY(5%);
    }
    to{
        transform: translateY(-5%);
    }
}

/* Highlights */
.highlights{
    min-height: 60vh;
    width: 100%;
    background: var(--primary-back);
    padding: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

/* Highlights :: Title */
.highlights-top{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.highlights-title{
    font-family: raleway,sans-serif;
    font-weight: 600;
    font-size: 42px;
    letter-spacing: 3px;
}

/* Highlights :: cards */
.highlights-mid{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    --bor: 5px;
    gap: var(--bor);
    color: var(--general-text);
}
.highlight-card{
    height: 280px;
    width: 350px;
    display: flex;
    gap: 15px;
    cursor: default;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    transition: background-size 0.5s;
    outline: var(--bor) solid var(--primary-text);
    &.card1{
        background:linear-gradient( #0000,#000c),var(--primary-back) url("assets/images/media/highlights/black_back_audi.webp");
        background-size: 100%;
        background-position: center;
    }
    &.card2{
        background:linear-gradient( #0000,#000c),var(--primary-back) url("assets/images/media/highlights/red_speed_audi.webp");
        background-size: 100%;        
        background-position: center;  
    }
    &.card3{
        background:linear-gradient( #0000,#000c),var(--primary-back) url("assets/images/media/highlights/gray_front_audi.webp");
        background-size: 100%;        
        background-position: center;  
    }
}
.highlight-card:hover{
    background-size: 115%;
    & > .highlight-card-text{
        height: calc(1em + 15px);
    }
}
.highlight-card-icon{
    border-radius: 50%;
    background: #ddd;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.highlight-card-icon > img{
    width: 50px;
}
.highlight-card-title{
    font-family: audi,sans-serif;
    font-weight: 600;
    font-size: 18px;

}
.highlight-card-text{
    font-family: audi,sans-serif;
    font-size: 36px;
    overflow: hidden;
    height: 0px;
    transition: height 0.5s;
    & > span{
        font-size: 22px;
    }
}

/* Design */
.design{
    display: flex;
    aspect-ratio: 16/9;
    height: calc(100vh - var(--nav-he));
    --vpad: 60px;
    --hpad: 45px;
    padding: var(--vpad) var(--hpad);
    position: relative;
    color: var(--general-text);
    background: var(--secondary-back);
    & > section{
        position: absolute;
        height: calc(100% - var(--vpad) * 2);
        width: calc(100% - var(--hpad) * 2);
    }
    & > .progress-bar{
        position: absolute;
        bottom: var(--vpad);
        left: var(--hpad);
        height: 5px;
        background: #f00;
        z-index: 10;
    }
}

/* Design :: imgs */
.design-imgs{
    display: flex; 
    overflow: scroll hidden;
    background: #000;
    scroll-snap-type: x mandatory;
    box-shadow: 0 0 35px 10px #3a2b0080;
    &::-webkit-scrollbar{
        /* height: 5px; */
        display: none;
    }
    /* &::-webkit-scrollbar-thumb{
        background: #f00;
    }
    &::-webkit-scrollbar-track{
        background:transparent;
    } */
    & > picture{
        min-width: 100%;
        scroll-snap-align: center;
        & > img{
            height: 100%;
            width: 100%;
            object-position: center;
            object-fit: cover;
        }
    }
    /* &:hover ~ .design-buttons > .design-button{
        opacity: 1;
    } */
}

/* Design :: buttons */
.design-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    z-index: 10;
    pointer-events: none;

}
.design-button{
    all: unset;
    width:60px;
    height:60px;
    z-index: 10;
    opacity: 0;
    background: #fff3;
    border-radius: 50%;
    cursor: pointer;
    pointer-events: all;
    backdrop-filter: blur(5px);
    mask-size: 100%;
    -webkit-mask-size: 100%;
    transition: opacity 0.5s,background-color 0.5s;
    &:not(.hide):hover{
        opacity: 1;
        background-color: #fff6;
    }
    &#left-arrow{
        mask-image: url("assets/images/icons/left.svg");
        -webkit-mask-image: url("assets/images/icons/left.svg");
    }
    &#right-arrow{
        mask-image: url("assets/images/icons/right.svg");
        -webkit-mask-image: url("assets/images/icons/right.svg");
    }
}
.show{
    opacity: 1;
}

/* Design :: title */
.design-title{
    position: absolute;
    top: calc(var(--vpad) + 20px);
    left: calc(var(--hpad) + 20px);
    font-size: 42px;
    font-family: raleway,sans-serif;
    letter-spacing: 3px;
    user-select: none;
    text-shadow: 0 0 5px;
}

/* Design :: text */
.design-text{
    position: absolute;
    width:100%;
    height:100%;
    pointer-events:none;
    display: flex;
}
.individual-text-design{
    height: 100%;
    width: 100%;
    background: linear-gradient(#0000,#000);
    flex-shrink: 0;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: end;
    padding: 30px;
    gap: 20px;
}
.design-text-title{
    font-family: raleway;
    font-size: 54px;
    width: 50%;
}
.design-text-paragraph{
    text-align: end;
    font-family: audi;
    font-size: 18px;
    line-height: 1.2;
    width: 40%;
}